# dependencies
node_modules

# Local Assets
local_assets/

# Nuxt build
.nuxt

# Nuxt generate
dist

# yarn
yarn.lock
yarn-error.log

# npm packages
package-lock.json

# redis
dump.rdb

# Code Editor
.idea
.editorconfig
.vscode

# process.env
.env