# dependencies
node_modules

# Nuxt build
.nuxt

# Nuxt generate
dist

# yarn
yarn.lock
yarn-error.log

# redis
dump.rdb

# log
log

# backup
backup

# Webstorm
.idea
.editorconfig

# sitemap
app/assets/sitemap