.button-orange {
  border:none;
  .button-custom(@color-orange, @color-white)
}
.button-white {
  border:1px solid @color-orange;
  .button-custom(@color-white, @color-orange)
}

// Google maps API Hard Control
.gm-style-pbc {
  opacity: 0 !important;
}

.description-section {
  font-size: 20px;
  font-weight: 300;
}

.home-container {
  img { width: 100%; }
}

.introduction-container {
  img { width: 100%; }
}
