.button-orange {
  border:none;
  .button-custom(@color-orange, @color-white)
}
.button-white {
  border:1px solid @color-orange;
  .button-custom(@color-white, @color-orange)
}

// Google maps API Hard Control
.gm-style-pbc {
  opacity: 0 !important;
}
