#wizard-container {
  background: #fff;
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
}
#left-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 220px;
  background: #eee;
}
#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #eee;
}
#right-container {
  padding-left: 240px;
  padding-bottom: 120px;
}
