@import '../../index';

// Old
.dashboard-container {
  @import './upload-image-container';

  .header-container {
    .title {
      font-size: @font-size-extra-large;
    }
  }

  .each-section {
    padding-bottom: 28px;
  }

  .confirm-container {
    margin: 12px 0;

    .title {
      margin-bottom: 0 !important;
    }
    .sub-title {
      margin-bottom: 10px !important;
    }
    button {
      font-size: @font-size-button;
      font-weight: @font-weight-button;
    }
  }
}

// Brand new
.dashboard-wrapper {
  @section-margin: 40px;
  @section-padding: 16px;

  * {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }

  padding-bottom: @section-margin;

  header {
    h1 {
      font-size: 30px;
    }
    h2 {
      margin-top: 12px;
      font-size: 24px;
    }
    button {
      background-color: @color-orange;
      padding: 14px 28px;
      font-weight: 500;
      font-size: 18px;

      &:disabled {
        opacity: 0.4;
      }
    }
    .header__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .cards-container {
    border-radius: @border-radius;
    border: 1px solid @color-light-gray;

    .card-container {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      border-bottom: 1px solid @color-light-gray;
      font-size: 17px;

      &:last-child {
        border-bottom: 1px solid transparent;
      }

      &:hover {
        .action-container {
          visibility: visible;
        }
      }

      &.deleting {
        opacity: 0.4;
      }

      &.disabled {
        background-color: @color-lightest-grey;
        opacity: 0.8;
      }
    }

    .section {
      padding-left: @section-padding;
    }

    .img-container {
      display: inline-flex;
      width: 100px;
      height: 100px;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .title {
      font-size: 18px;
      font-weight: 400;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .description {
      font-weight: 400;
      color: @color-font-gray;
      width: 300px;
      &:hover {
        cursor: pointer;
      }
    }
    .quotes {
      flex: 1;
      text-transform: uppercase;
      font-size: 15px;
    }
    .status-container {
      flex: 1;

      .status-wrapper {
        display: flex;
        flex-direction: column;
      }
    }
    .status {
      font-weight: 500;
      font-size: 15px;

      &.activated {
        color: @color-green;
      }
      &.draft {
        color: @color-yellow;
      }
      &.rejected {
        color: @color-red;
      }
    }

    .due-date {
      font-weight: 500;
      font-size: 15px;
    }

    .action-container {
      flex: 1;
      visibility: hidden;
      font-size: 16px;
      text-align: left;

      .action-wrapper {
        display: flex;
        flex-direction: column;
      }
      span {
        color: @color-link;
        cursor: pointer;
      }
    }
  }

  main {
    margin-top: @section-margin;
  }
}
